:root {
  --background: #0c0b15;
  --primary-color: #805ad5;
  --secondary-color: #232040;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

body {
  font-family: "UbuntuMono", monospace;
  background-color: var(--background);
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 32px;
}

input {
  line-height: inherit;
  padding: 12px 24px;
  outline: none;
  background-color: var(--secondary-color);
  border-radius: 2px;
}

button {
  background-color: var(--primary-color);
  padding: 12px 24px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
button[secondary=""] {
  background-color: var(--secondary-color);
}
button:hover {
  opacity: 0.85;
}


.container {
  position: relative;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 510px;
  padding: 15px;
}

.block {
  display: flex;
  margin-top: 48px;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 24px;
}

.btn-reset {
  flex-basis: 47px;
  width: 47px;
  height: 47px;
  padding: 0;
  font-size: 30px;
  line-height: 47px;
}
/* TODO: problem with svg on chrome */
.btn-reset img, .btn-reset object {
  height: 24px;
  margin: 0 auto;
  width: 17px;
}

.inp-g-password {
  flex: 1;
  margin-right: 12px;
}

/* TODO: problem with svg on chrome */
.background-image {
  position: absolute;
  bottom: -200px;
  right: -340px;
  width: 498px;
  height: 295px;
  z-index: -1;
}

@font-face {
  font-family: "UbuntuMono";
  font-style: normal;
  src: url("./font/ubuntu-mono/UbuntuMono-Regular.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-style: normal;
  font-weight: bold;
  src: url("./font/ubuntu-mono/UbuntuMono-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-style: italic;
  src: url("./font/ubuntu-mono/UbuntuMono-Italic.ttf");
}

@font-face {
  font-family: "UbuntuMono";
  font-style: italic;
  font-weight: bold;
  src: url("./font/ubuntu-mono/UbuntuMono-BoldItalic.ttf");
}

button::-moz-focus-inner {
  border: 0;
}
